.login {
  min-height: 90vh;
  background: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.loader_container { 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: #ffffff;
    display: flex; 
    flex-direction: column;
    gap: 12px;
    justify-content: center; 
    align-items: center; 
    z-index: 9999; 

  }

.container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  padding: 1px 20vh;
}


/* LOGIN CARD */
.card {
  flex: 1;
  min-width: 320px;
  max-width: 450px;
  background: white;
  padding: 50px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h3 {
  margin-bottom: 10px;
  color: #111;
  text-align: center;
}

.card p {
  font-size: 14px;
  margin-bottom: 25px;
  color: #444;
  text-align: center;
}

.card a {
  color: #ff8500;
  text-decoration: none;
}

.container {
  display: flex;
}

.card { order: 1; }
.about { order: 2; }


.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form input {
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 15px;
  background-color: #fff;
  transition: border-color 0.2s;
}

.form input:focus {
  border-color: #4f6ef7;
  outline: none;
}

.passwordBox {
  position: relative;
  width: 100%;
}

.passwordBox input {
  padding: 10px;
  border-radius: 6px; 
  border: 1px solid #ddd; 
  font-size: 15px; 
  background-color: white;
  width: 100% !important;
}

.eyeIcon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #94a3b8;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.eyeIcon:hover {
  color: #4f6ef7;
}

.form button {
  margin-top: 10px;
  padding: 12px 30px;
  background: #4f6ef7;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.form button:hover {
  background: #3a5ce0;
}

.create {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #ff8500;
  font-weight: 500;
}

/* FIELD ERROR */
.field {
  display: flex;
  flex-direction: column;
}
.fielderror {
  color: red !important;
  font-size: 13px;
  margin-top: 2px;
  text-align: left;
  align-self: flex-start;
}

/* RIGHT ABOUT CARD */
.about {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  padding-top: 40px;
}
.about {
  border: 1px solid #ff8500;       
  padding: 10px  40px 0 40px;              
  border-top-right-radius: 25%; 
  border-bottom-right-radius: 25%; 
  box-shadow: 0 6px 20px rgba(0,0,0,0.1); 
}


.about span a {
  color: #ff8500;
  font-weight: bold;
  text-decoration: none;
}

.about h1 {
  font-size: 32px;
  margin: 10px 0;
}

.about p {
  line-height: 1.7;
  margin-bottom: 10px;
  color: #444;
}

.howBtn {
  margin-top: 20px;
  padding: 12px 30px;
  background: #ff8500;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.howBtn:hover {
  background: #e37300;
}

.container{
  animation: leftFade 0.6s ease forwards;
}

@keyframes leftFade {
  from {
    opacity: 0.2;
    transform: translateX(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}


/* MOBILE RESPONSIVE */
@media (max-width: 900px) {
  .container {
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
  }

  .card,
  .about {
    width: 100%;
    max-width: 100%;
  }
  .about{
    padding: 40px;
    border-radius: 40px 0 40px 0 !important;

  }

  .card {
    padding: 40px 25px;
  }

  .form input {
    padding: 12px 15px;
  }

  .form button,
  .howBtn {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .card h3 {
    font-size: 20px;
  }

  .about h1 {
    font-size: 26px;
  }
}
