/* CONTAINER */
.ask_page {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* loading */
.loader_container { 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: #ffffff;
    display: flex; 
    flex-direction: column;
    gap: 12px;
    justify-content: center; 
    align-items: center; 
    z-index: 9999; 

}

/* STEPS PANEL - TOP */
.steps_box {
    width: 100%;
    margin-bottom: 30px;
}

.steps_title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
    padding-bottom: 8px;
}

/* animated underline */
.steps_title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background-color: #ff7a59;

    animation: underlineGrow 2s ease forwards infinite;
}

@keyframes underlineGrow {
    from {
        width: 10%;
    }
    to {
        width: 90%;
    }
}

.steps_box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.steps_box li {
    position: relative;
    margin-bottom: 15px;
    padding-left: 25px;
    font-size: 16px;
    color: #333;
}

.steps_box li::before {
    content: "→" ;
    position: absolute;
    left: 0;
    color: #4f46e5;
    font-weight: bold;
    transition: transform 0.3s ease;
}
.steps_box li:hover::before { 
    transform: translateX(5px); 
}

/* QUESTION CARD - BOTTOM */
.ask_card {
    width: 90%;
    background: #f8f8f8;
    padding: 35px 40px;
    border-radius: 0 14px 0 0 ;
    box-shadow:  4px 0 25px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ask_card:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 35px rgba(0, 0, 0, 0.12);
}

/* CARD HEADER */
.ask_header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
    border-bottom: 2px solid #ff7a59;
    padding-bottom: 6px;
    text-align: left;
}

/* INPUTS */
.ask_input,
.ask_textarea {
    width: 90%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
}

.ask_textarea {
    height: 150px;
    resize: vertical;
}

/* POST BUTTON */
.post_btn_wrap {
    text-align: center;
}

.post_btn {
    background-color:#4f6ef7;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.post_btn:hover {
    background-color: #4566f8;
}
/* field eroor text */
.fielderror { 
    color: red !important; 
    font-size: 13px;
    margin-top: 2px;
    text-align: right; 
}

.positionPopUp{
    position: fixed !important;
    top:80px !important;
}


/* RESPONSIVE */
@media (min-width: 768px) {

    .ask_page {
        max-width: 100%;
    }
}
